:root {
    --bg-color: rgb(39, 39, 39);
    --text-color: rgb(220, 255, 212);
    --read: limegreen;
    --unread: red;
}

body {
    font-family: 'Itim', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    padding: 1rem;
    gap: 2rem;
}

.book {
    width: 20rem;
    height: 27rem;
    box-shadow: 0px 0px 10px 2px var(--unread);
    padding: 1rem;
    font-size: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: repeat(7,auto) 1fr auto;
    align-items: center;
    background-color: var(--bg-color);
}

.bookRead {
    box-shadow: 0px 0px 10px 2px var(--read);
}

.book input {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    font-size: 1.25rem;
    padding: .25rem;
}

.editing input {
    border: 1px groove rgb(50, 50, 50);
    border-radius: 10px;
}

.book input:focus {
    outline: none;
    border: 1px solid rgb(65, 65, 65);
    box-shadow: 0px 0px 3px 1px rgb(65, 65, 65);
}

.book button{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.book button:hover {
    position: relative;
    scale: 1.2;
}
.title-label {
    grid-area: 1 / 1 / 2 / 5;
}
.title {
    grid-area: 2 / 1 / 3 / 5;
    margin-bottom: 1rem;
}
.author-label {
    grid-area: 3 / 1 / 4 / 5;
}
.author {
    grid-area: 4 / 1 / 5 / 5;
    margin-bottom: 1rem;
}
.pages-label {
    grid-area: 5 / 1 / 6 / 5;
}
.pages {
    grid-area: 6 / 1 / 7 / 5;
    margin-bottom: 2rem;
}
.not-read-label {
    grid-area: 7 / 1 / 8 / 2;
    font-size: 1.5rem;
    justify-self: end;
}
.toggle-checkbox,
.toggle {
    grid-area: 7 / 2 / 8 / 4;
    justify-self: center;
}
.read-label {
    grid-area: 7 / 4 / 8 / 5;
    font-size: 1.5rem;
}

.delete-button {
    grid-area: 9 / 1 / 10 / 3;
    color: red;
    padding: .5rem;
    margin-right: .5rem;
}
.edit-button {
    grid-area: 9 / 3 / 10 / 5;
    color: yellow;
    padding: .5rem;
    margin-left: .5rem;
}


.book .fa-solid {
    font-size: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle {
	cursor: pointer;
	text-indent: 0px;
	width: 4rem;
	height: 2rem;
	background: var(--unread);
	display: block;
	border-radius: 1rem;
	position: relative;
    top: -1.25rem;
    left: 1.25rem;
}

.toggle:after {
	content: '';
	position: absolute;
	top: .05rem;
	left: .05rem;
	width: 1.9rem;
	height: 1.9rem;
	background: var(--bg-color);
	border-radius: 50%;
	transition: 0.3s;
}

.toggle-checkbox:checked + .toggle {
	background: var(--read);
}

.toggle-checkbox:checked + .toggle:after {
	left: calc(100% - .1rem);
	transform: translateX(-100%);
}

.toggle:active:after {
	width: 2.5rem;
}

.add-new-button {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    border-radius: 50%;
    background-image: radial-gradient(circle at center, orange, red);
    border: none;
    box-shadow: 0px 0px 5px red;
}
.add-new-button:hover {
    scale: 1.2;
}

.add-new-button .material-symbols-outlined{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--bg-color);
}


.editing {
    position: fixed;
    top: calc(50% - 12rem);
    left: calc(50% - 10rem);
    scale: 1.5;
    background-color: rgb(39, 39, 39);
    z-index: 1;
    transform-style: preserve-3d;
}

.editing::after {
    position: absolute;
    content: '';
    display: block;
    top: -40vh;
    left: -50vw;
    height: 100vh;
    width: 100vw;
    background-color: rgba(75, 75, 75, 0.452);
    z-index: -1;
    transform: translateZ(-1px);
}